/*
This is how you do code comments in CSS

Again, more CSS tags/references can be found at WWW.W3SCHOOLS.COM


 */
/* Add a black background color to the top navigation */

body
{
   background-image: url("img/roller-coaster.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}

#textExamples
{
    background-image: linear-gradient(steelblue, yellow) ;
    background-color: blue;
    color: aquamarine;
}

h1
{
    color: chartreuse;
    text-align: center;
}

p
{
    color: white;
}