body
{
    background-color: darkblue;
}
h1
{
    color: lightskyblue;
}
button
{
    background-color: black;
    color: deepskyblue;
}
form
{
    color: lightblue;
}
input
{
    background-color: black;
    color: deepskyblue;
}
h5
{
    color:  lightskyblue;
}