body
{
    background-image: linear-gradient(darkorange, darkblue);
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    color: darkblue;
    border: orangered;
}
h3
{
    color: darkblue;
}
table
{
    border-color: orange;
    width: ;
    background-color: darkblue;
    color: orange;
    font: bold;
}
